body {
  font-family: "Plus Jakarta Sans Variable", sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    font-weight: 600;
  }
}
